<!-- begin cesium -->

<div id="cesium-main" data-video="http://player.vimeo.com/external/97766233.sd.mp4?s=5df211c4da525ce8da33fddd981d52df">
  <div id="cesium-submain" class="full-height map-overlap">

    <div class="row cesium-top-margin"></div>

    <div id="cesium-left-col" class="col-md-3 full-height">
<!--      <div class="form-horizontal span8">-->
      <div id="select-group">
        <div id="plant-desc" class="map-step">
          Step 1: Choose a species
          <button class="cesium-modal-button" {{action 'showModal' 'maptip1-modal'}}>?</button>
          {{!--
          <div id="maptips" class="tip1">&nbsp;
            <span class="tips">
              <h3>How do I get a map?</h3><br>
              <h4>Follow these steps to get a map.</h4>
              <ol>
                <li>Select desired tree species</li>
                <li>Select desired climate scenario</li>
                <li>Select a year</li>
                <li>Click GET MAP to refresh Google Earth with your final selections.</li>
              </ol>
            </span>
          </div>
          --}}
        </div> 
        <p><hr class="maps-hr"></p>
        <div class="form-group form-group-1">
          <div class="controls">
            {{view "select"
              id="plantSelect"
              contentBinding="controllers.plants.arrangedContent"
              optionValuePath="content.sci_name"
              optionLabelPath="content.name"
              selectionBinding="controller.species"
              prompt="Abies lasiocarpa"
            }}
          </div>
        </div>
      </div>
      <div id="rcp-group" class="rcp-toolbar btn-group rcp-group-toolbar">
        <div id="rcp-desc" class="map-step">
          Step 2: Choose a Climate Scenario
          <button class="cesium-modal-button" {{action 'showModal' 'maptip2-modal'}}>?</button>
            {{!--
            <div id="maptips" class="tip2">&nbsp;
              <span class="tips">The best-case climate change scenario (rcp 2.6) is where C)<sub>2</sub> emissions rise from current-day rates of ~9 billion tons per year, peak around mid-21<sup>st</sup> century, then decline to zero by the end of the 21<sup>st</sup> century. Under the worst-case scenario (rcp 8.5) - "business as usual" - emissions continue to rise at a relatively high rate throughout most of the 21<sup>st</sup> century, then stabilize at ~30 billion tons per year by the end of the century. See <a href="#/headlines/climate">Forest Change</a> for more information.
              </span>
            </div>
            --}}
            <p><hr class="maps-hr"></p>
            <div class="btn-row">
              <div id="rcp26-label" {{action 'setBestRcp' '0' }} class="col-sm-6 btn-temp active-label">
                {{!--{{view Forest.RadioButton id="best-case" name="rcp-radio" selectionBinding="selectedRcp" value="rcp26"}}--}}
                <label class="rcp-label" for="best-case">
                  <div class="best-case-label"></div>
                  Best Case
                </label>
              </div>
              <div id="rcp85-label" {{action setWorstRcp}} class="col-sm-6 btn-temp">
                {{!--{view Forest.RadioButton id="worst-case" class="rcp-radio" selectedBinding="selectedRcp" value="rcp85"}}--}}
                <label class="rcp-label" for="worst-case">
                  <div class="worst-case-label"></div>
                  Worst Case
                </label>
              </div>
            </div>
        </div>
      </div>
        <!-- year on top, controls on bottom -->
        <div id="year-group" class="form-group btn-group">
          <p id="year-desc" class="map-step" class="year-desc-3">
           Step 3: View and Animate the future forest
            <hr class="maps-hr">
          </p>
          <div id="year-field-container" class="col-sm-12">
            {{view Ember.TextField valueBinding="controller.year" class="year-field"}}
          </div>
          <div id="year-controls-container" class="col-sm-12">
            <div class="minus-container col-sm-3">
              <button id="minusYear" class="btn-control" {{action 'minusYear'}}>{{fa-icon "minus"}}</button>
            </div>
            <div class="play-container col-sm-6">
              <button id="playPause" class="btn-control fa fa-play" {{action 'playPause'}}></button> 
            </div>
            <div class="plus-container col-sm-3">
              <button id="plusYear" class="btn-control" {{action 'plusYear'}}>{{fa-icon "plus"}}</button>
            </div>
          </div>

        </div><!-- end year-group; year on top, controls on bottom -->

      
       <!-- year and controls on same line -->
       {{!--
         <div id="year-group" class="form-group btn-group">
          <p id="year-desc" class="map-step" class="year-desc-3">
           Step 3: Pick a year
            <hr class="maps-hr">
          </p>
          <div id="year-controls-container" class="col-sm-12">
            <div id="year-field-container" class="col-sm-5">
              {{view Ember.TextField valueBinding="controller.year" class="year-field"}}
            </div>
            <div class="minus-container col-sm-2">
              <button id="minusYear" class="btn-control" {{action 'minusYear'}}>{{fa-icon "minus"}}</button>
            </div>
            <div class="play-container col-sm-3">
              <button id="playPause" class="btn-control fa fa-play" {{action 'playPause'}}></button> 
            </div>
            <div class="plus-container col-sm-2">
              <button id="plusYear" class="btn-control" {{action 'plusYear'}}>{{fa-icon "plus"}}</button>
            </div>
          </div>

        </div><!-- end year-group; year on top, controls on bottom -->
        --}}

        <div id="submit-group" class="form-group map-step">
         <p id="submit-desc">
           Step 4: Get the map
         </p>
         <hr class="maps-hr">
         <p></p>
         <div id="get-map-container">
          <div id="get-map">
            <button type="submit" id="map-submit" class="btn btn-map" {{action 'reloadLayers'}}>
              Get Map
              <i class="spinner">
                <div class="glyphicon glyphicon-refresh">
                </div>
              </i>
              <span class="arrow">
                <i class="glyphicon glyphicon-arrow-right">
                </i>
              </span>
            </button>
          </div> <!-- get-map-container -->
        </div> <!--submit-group -->
       </div>
      </div> <!-- cesium-left-col-->

      <div id="cesium-mid-col" class="col-md-1 full-height">
        <div id="map-legend">
          <h3>Legend <button class="cesium-modal-button" {{action 'showModal' 'maptip3-modal'}}>?</button></h3>
          <hr class="maps-hr"> 
          <div class="map-legend-sub">
           <span>Suitability</span>
            {{!--
            <div id="maptips" class="tip3">&nbsp;
              <span class="tips">
                <h3>About Suitablility Legend</h3>
                <p>Different shades of suitability measures how likely the local climate will match the temperature, precipitation, and seasonality requirements for the species of interest.</p>
                <ul class="suitability">
                  <li style="margin-bottom:10px;" ><u><b>High</b></u>- High likelihood species will thrive and grow in most locations. Species likely to be most common here.</li>
                  <li style="margin-bottom:10px;"><u><b>Medium</b></u>- Some likelihood that area will support growth of species but abundance will be more variable.</li>
                  <li class="suitability"><u><b>Low</b></u>- Low likelihood that species will be present. Species will likely be quite rare and isolated to specific microevironments.</li>
                </ul>
              </span>
            </div>
            --}}
            <div id="suitability-circles">
              <div class="row">
                <div class="oval-high">High</div>
              </div>
              <div class="row">
                <div class="oval-mid">Medium</div>
              </div>
              <div class="row">
                <div class="oval-low">Low</div>
              </div>
            </div> <!-- suitability-circles -->

          </div> <!-- map-legend-sub -->
        </div> <!-- map-legend -->
      </div> <!-- cesium-mid-col-->

      <div id="cesium-right-col" class="col-md-8 full-height">
        <div id="cesiumViewContainer" class="container full-hw">
          <div id="cesiumContainer"> 
            <div id="baseLayerPickerContainer" style="position:absolute;top:124px;right:376px;width:38px;height:38px;z-index:100;"></div>
          </div><!-- cesiumContainer -->
        </div><!-- cesiumViewContainer -->
      </div><!--cesium-right-col -->

    </div>
  </div> <!-- cesium--submain -->
</div> <!-- cesium-main-->


<!-- begin instructions modal -->

<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-instr-dialog">
    <div class="modal-content modal-instructions">
      <div class="modal-header instr-modal-header">
                <span class="modal-title instr-modal-title" id="myModalLabel">How to Use The Map</span> <span class="instr-help cesium-navigationHelpButton-wrapper"><div class="cesium-button cesium-toolbar-button cesium-navigation-help-button"><svg viewBox="0 0 32 32" height="32" width="32" class="cesium-svgPath-svg"><path d="M16,1.466C7.973,1.466,1.466,7.973,1.466,16c0,8.027,6.507,14.534,14.534,14.534c8.027,0,14.534-6.507,14.534-14.534C30.534,7.973,24.027,1.466,16,1.466z M17.328,24.371h-2.707v-2.596h2.707V24.371zM17.328,19.003v0.858h-2.707v-1.057c0-3.19,3.63-3.696,3.63-5.963c0-1.034-0.924-1.826-2.134-1.826c-1.254,0-2.354,0.924-2.354,0.924l-1.541-1.915c0,0,1.519-1.584,4.137-1.584c2.487,0,4.796,1.54,4.796,4.136C21.156,16.208,17.328,16.627,17.328,19.003z"></path></svg></div></span>
<button type="button" class="close instr-close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">
        <div id="tabs" class="tabbale row instr-container">
          <ul class="nav nav-tabs instr-nav-tabs">
            <li class="instr-tabs active">
              <a href="#tab1" data-toggle="tab">
              <img style="width: 45px; height: 45px;" class="cesium-navigation-button-icon" src="assets/cesium/Widgets/Images/NavigationHelp/Mouse.svg">
                Mouse
              </a>
            </li>
            <li class="instr-tabs">
              <a href="#tab2" data-toggle="tab">
                <img style="width: 45px; height: 45px;" class="cesium-navigation-button-icon" src="assets/cesium/Widgets/Images/NavigationHelp/Touch.svg">
                Touch
              </a>
            </li>
          </ul>
          <div class="tab-content instr-content">
            <div id="tab1" class="tab-pane active">
             <!-- mouse -->
               <div class="modal-instr-mouse">
                 <table>
                   <tbody>
                     <tr>
                       <td>
                         <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/MouseLeft.svg" height="48" width="48">
                       </td>
                       <td>
                         <div class="cesium-navigation-help-pan">
                           Pan view
                         </div>
                         <div class="cesium-navigation-help-details">
                           Left click + drag
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td>
                         <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/MouseRight.svg" height="48" width="48">
                       </td>
                       <td>
                         <div class="cesium-navigation-help-zoom">
                           Zoom view
                         </div>
                         <div class="cesium-navigation-help-details">
                           Right click + drag, or
                         </div>
                         <div class="cesium-navigation-help-details">
                           Mouse wheel scroll
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td>
                         <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/MouseMiddle.svg" height="48" width="48">
                       </td>
                       <td>
                         <div class="cesium-navigation-help-rotate">
                           Rotate view
                         </div>
                         <div class="cesium-navigation-help-details">
                           Middle click + drag, or
                         </div>
                         <div class="cesium-navigation-help-details">
                           CTRL + Left click + drag
                         </div>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </div> <!-- / mouse -->
             </div><!-- / tab1 -->
             
             <div id="tab2" class="tab-pane">
             <!-- touch -->
              <div class="modal-instr-touch">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/TouchDrag.svg" height="48" width="70">
                      </td>
                      <td>
                        <div class="cesium-navigation-help-pan">
                          Pan view
                        </div>
                        <div class="cesium-navigation-help-details">
                          One finger drag
                        </div>
                      </td>
                    </tr>
                    <tr>
                    <td>
                      <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/TouchZoom.svg" height="48" width="70">
                    </td>
                    <td>
                      <div class="cesium-navigation-help-zoom">
                        Zoom view
                      </div>
                      <div class="cesium-navigation-help-details">
                        Two finger pinch
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/TouchTilt.svg" height="48" width="70">
                    </td>
                    <td>
                      <div class="cesium-navigation-help-rotate">
                        Tilt view
                      </div>
                      <div class="cesium-navigation-help-details">
                        Two finger drag, same direction
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="http://localhost:4200/ffdm/assets/cesium/Widgets/Images/NavigationHelp/TouchRotate.svg" height="48" width="70">
                    </td>
                    <td>
                      <div class="cesium-navigation-help-tilt">
                        Rotate view
                      </div>
                      <div class="cesium-navigation-help-details">
                        Two finger drag, opposite direction
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- / touch -->
          </div> <!-- / tabs-2 -->
        </div>
      </div> <!--/ tab & container -->
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>
<!-- / modal instructions -->
