<div id="cesium-main" data-video="http://player.vimeo.com/external/97766233.sd.mp4?s=5df211c4da525ce8da33fddd981d52df">
  <div id="cesium-submain" class="full-height map-overlap">
    <div id="cesium-left-col" class="col-md-3 full-height">
<!--      <div class="form-horizontal span8">-->
      <div id="select-group">
        <div id="plant-desc" class="map-step">
          Step 1: Choose a species
          <div id="maptips" class="tip1">&nbsp;
            <span class="tips">
              <h3>How do I get a map?</h3><br>
              <h4>Follow these steps to get a map.</h4>
              <ol>
                <li>Select desired tree species</li>
                <li>Select desired climate scenario</li>
                <li>Select a year</li>
                <li>Click GET MAP to refresh Google Earth with your final selections.</li>
              </ol>
            </span>
          </div>
        </div> 
        <p><hr class="maps-hr"></p>
        <div class="form-group form-group-1">
          <div class="controls">
            {{view "select"
              id="plantSelect"
              contentBinding="controllers.plants.arrangedContent"
              optionValuePath="content.sci_name"
              optionLabelPath="content.name"
              selectionBinding="controller.species"
              prompt="Select a Species..."
            }}
          </div>
        </div>
      </div>
      <div id="rcp-group" class="rcp-toolbar btn-group rcp-group-toolbar">
        <div id="rcp-desc" class="map-step">
          Step 2: Choose a Climate Scenario
            <div id="maptips" class="tip2">&nbsp;
              <span class="tips">The best-case climate change scenario (rcp 2.6) is where C)<sub>2</sub> emissions rise from current-day rates of ~9 billion tons per year, peak around mid-21<sup>st</sup> century, then decline to zero by the end of the 21<sup>st</sup> century. Under the worst-case scenario (rcp 8.5) - "business as usual" - emissions continue to rise at a relatively high rate throughout most of the 21<sup>st</sup> century, then stabilize at ~30 billion tons per year by the end of the century. See <a href="#/headlines/climate">Forest Change</a> for more information.
              </span>
            </div>
            <p><hr class="maps-hr"></p>
            <div class="btn-row">
              <div id="rcp26-label" {{action 'setBestRcp' '0' }} class="col-sm-6 btn-temp">
                {{!--{{view Forest.RadioButton id="best-case" name="rcp-radio" selectionBinding="selectedRcp" value="rcp26"}}--}}
                <label class="rcp-label" for="best-case">
                  <div class="best-case-label"></div>
                  Best Case
                </label>
              </div>
              <div id="rcp85-label" {{action setWorstRcp}} class="col-sm-6 btn-temp">
                {{!--{view Forest.RadioButton id="worst-case" class="rcp-radio" selectedBinding="selectedRcp" value="rcp85"}}--}}
                <label class="rcp-label" for="worst-case">
                  <div class="worst-case-label"></div>
                  Worst Case
                </label>
              </div>
            </div>
        </div>
      </div>
        <!-- year on top, controls on bottom -->
        <div id="year-group" class="form-group btn-group">
          <p id="year-desc" class="map-step" class="year-desc-3">
           Step 3: Pick a year
            <hr class="maps-hr">
          </p>
          <div id="year-field-container" class="col-sm-12">
            {{view Ember.TextField valueBinding="controller.year" class="year-field"}}
          </div>
          <div id="year-controls-container" class="col-sm-12">
            <div class="minus-container col-sm-3">
              <button id="minusYear" class="btn-control" {{action 'minusYear'}}>{{fa-icon "minus"}}</button>
            </div>
            <div class="play-container col-sm-6">
              <button id="playPause" class="btn-control fa fa-play" {{action 'playPause'}}></button> 
            </div>
            <div class="plus-container col-sm-3">
              <button id="plusYear" class="btn-control" {{action 'plusYear'}}>{{fa-icon "plus"}}</button>
            </div>
          </div>

        </div><!-- end year-group; year on top, controls on bottom -->

      
       <!-- year and controls on same line -->
       {{!--
         <div id="year-group" class="form-group btn-group">
          <p id="year-desc" class="map-step" class="year-desc-3">
           Step 3: Pick a year
            <hr class="maps-hr">
          </p>
          <div id="year-controls-container" class="col-sm-12">
            <div id="year-field-container" class="col-sm-5">
              {{view Ember.TextField valueBinding="controller.year" class="year-field"}}
            </div>
            <div class="minus-container col-sm-2">
              <button id="minusYear" class="btn-control" {{action 'minusYear'}}>{{fa-icon "minus"}}</button>
            </div>
            <div class="play-container col-sm-3">
              <button id="playPause" class="btn-control fa fa-play" {{action 'playPause'}}></button> 
            </div>
            <div class="plus-container col-sm-2">
              <button id="plusYear" class="btn-control" {{action 'plusYear'}}>{{fa-icon "plus"}}</button>
            </div>
          </div>

        </div><!-- end year-group; year on top, controls on bottom -->
        --}}

       <div id="submit-group" class="form-group map-step">
         <p id="submit-desc">
           Step 4: Get the map
         </p>
         <hr class="maps-hr">
         <p></p>
         <div id="get-map-container">
          <div id="get-map">
            <button type="submit" id="map-submit" class="btn btn-map" {{action 'reloadLayers'}}>
              Get Map
              <i class="spinner">
                <div class="glyphicon glyphicon-refresh">
                </div>
              </i>
              <span class="arrow">
                <i class="glyphicon glyphicon-arrow-right">
                </i>
              </span>
            </button>
          </div>
        </div>
       </div>
      </div>
      <div id="cesium-mid-col" class="col-md-1 full-height">
        <div id="map-legend">
          <h3>Legend</h3>
          <hr class="maps-hr"> 
          <div class="map-legend-sub">
           Suitability
            <div id="maptips" class="tip3">&nbsp;
              <span class="tips">
                <h3>About Suitablility Legend</h3>
                <p>Different shades of suitability measures how likely the local climate will match the temperature, precipitation, and seasonality requirements for the species of interest.</p>
                <ul class="suitability">
                  <li style="margin-bottom:10px;" ><u><b>High</b></u>- High likelihood species will thrive and grow in most locations. Species likely to be most common here.</li>
                  <li style="margin-bottom:10px;"><u><b>Medium</b></u>- Some likelihood that area will support growth of species but abundance will be more variable.</li>
                  <li class="suitability"><u><b>Low</b></u>- Low likelihood that species will be present. Species will likely be quite rare and isolated to specific microevironments.</li>
                </ul>
              </span>
            </div>        
            <div id="suitability-circles">
              <div class="row">
                <div class="oval-high">High</div>
              </div>
              <div class="row">
                <div class="oval-mid">Medium</div>
              </div>
              <div class="row">
                <div class="oval-low">Low</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cesium-right-col" class="col-md-8 full-height">
        <div id="cesiumViewContainer" class="container full-hw">
          <div id="cesiumContainer"> 
            <div id="baseLayerPickerContainer" style="position:absolute;top:124px;right:24px;width:38px;height:38px;"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>












